TgCrypto 
dnspython==2.3.0
gitpython
motor
pyrogram>=2.0.30
python-dotenv
heroku3
apscheduler
stagger
pySmartDL
wget
speedtest-cli
psutil
aiofiles
Pillow
pyfiglet
emoji~=1.6.3
spotdl
python-ffmpeg
rarfile
feedparser
bs4
wikipedia
qrcode
gtts
gdshortener
pytz
countryinfo
pybase64
justwatch
hachoir
search_engine_parser
flag
glitch_this
selenium
cowpy
lottie
spamwatch
html_telegraph_poster
telegraph
googlesearch-python
pydub
humanize
validators
UsergeAntiSpamApi
googletrans==4.0.0-rc1
tracemoepy
